/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* 
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */



/* Variables/roots/base-styles */
@import url('./variables.css');

/* Reset */
@import url('./reset.css');

/* Header */
@import url('./header.css');

/* Hero */
@import url('./hero.css');

/* How it works */
@import url('');

/* TO ORDER YOUR VEGETABLE BASKET */
@import url('./to-order.css');

/* Easy Steps for Buying Fresh Vegetables */
@import url('./easy-steps.css');

/* ORGANIC VEGETABLES */
@import url('../css/vegetables.css');

/* We will call you */
@import url('wewillcall.css');

/* Footer */
@import url('./footer.css');

/* Modal window */
@import url('./modal.css');